.viewParentDiv {
  padding-top: 4em;
  display: flex;
}

.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70vw;
}

.viewParentDiv .imageShowDiv img {
  width: 65vw;
  height: 85vh;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  padding: 16px;
  border: 1px solid #ebeeef;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.viewParentDiv .rightSection .productDetails:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.viewParentDiv .rightSection .contactDetails {
  padding: 16px;
  border: 1px solid #ebeeef;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.viewParentDiv .rightSection .contactDetails:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contactBtn {
  width: 100%;
  height: 48px;
  background-color: #002f34;
  color: white;
  border: none;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.contactBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}