.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
  cursor: pointer;
}

.heading :last-child:hover {
  text-decoration: underline;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.moreView .cards::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}


.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 47, 52, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  vertical-align: top;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
  object-fit: contain;
}

.card .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}

.card .content .kilometer {
  font-size: medium;
}

.card .content .name {
  font-size: small;
}

.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}