.footerParentDiv {
  width: 100vw;
}

.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 16px;
}

.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
}

.footerParentDiv .content .list ul {
  list-style: none;
  padding: 0;
}

.footerParentDiv .content .list li {
  font-size: 14px;
  color: #002f34;
  cursor: pointer;
  margin-bottom: 5px;
}

.footerParentDiv .content .list li:hover {
  text-decoration: underline;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .footerParentDiv .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footerParentDiv .footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}