.loginParentDiv {
  border: 1px solid black;
  width: max-content;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}

.loginParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  transition: border-bottom-color 0.3s;
}

.loginParentDiv .input:focus {
  border-bottom-color: #002f34;
  border-bottom-width: 2px;
}

.loginParentDiv button {
  width: 100%;
  height: 48px;
  /* border-color: transparent; */
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}

.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginParentDiv a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  color: #002f34;
}

.loginParentDiv a:hover {
  text-decoration: underline;
}