html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a,
span,
button,
.card {
    transition: all 0.3s ease;
}

a:hover,
span:hover,
button:hover {
    cursor: pointer;
}